.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  z-index: 99;
}

.toolbar span {
  margin-left: 15px;
}

.toolbar .buttons-container {
  margin-left: auto; 
  padding-right: 10px;
}

.toolbar .buttons-container button {
  margin-left: 12px;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bolder;
  font-size: 15px;
}